html,
body {
  margin: 0;
  line-height: 1.4;
  font-weight: lighter;
  color: white;
  font-family: sans-serif;
  min-height: 100vh;
  user-select: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontally center items */
  align-items: center; /* Vertically center items */
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#section-home-btns{
  flex-wrap: wrap; /* Allow items to wrap to the next row */
}
#section-settings-btns{
  flex-wrap: wrap; /* Allow items to wrap to the next row */
}
.grid-overlay {
  z-index: -1;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.25) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 1px, transparent 1px);
  background-size: 40px 40px;
}

.image_shower {
  pointer-events: none;
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  animation-name: fadein;
  animation-duration: 2s;
  /* filter: blur(2px); */
  opacity: 1;
}
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#left-nav {
  float: left 0;
  height: 100vh;
  width: 20%;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

#section-content {
  float:right 0;
  height: 100vh;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.25);
}


/* --------------------------------------------------- */

.settings-container {
  /* display: flex; */
  /* flex-direction: column; */
  /* border: 4px solid red; */
  position: fixed;
  /*
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 90%;
  */
  display: flex;
  justify-content: center; /* Horizontally center items */
  font-size: medium;
  width: 100%;
  height: 88%;
  overflow-y: auto;
}
.settings-container.fixed {
  position: fixed;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* background-color: #f0f0f0; */
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
}

textarea {
  width: 40vw; /* Set the desired width as a percentage of the viewport width */
  height: 20vh; /* Set the desired height as a percentage of the viewport height */
  border-radius: 10px; /* Add rounded corners */
  padding: 10px; /* Add padding to create spacing between content and border */
  font-family: Arial, sans-serif; /* Set desired font */
  font-size: 14px; /* Set desired font size */
  resize: none; /* Disable textarea resizing */
}

.button-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(100px, 1fr)
  ); /* Increase minmax value */
  gap: 10px;
}

.square-button {
  /* Set rounded corners */
  border-radius: 15px;

  /* Apply gradient background with slow animation */
  background: linear-gradient(45deg, #82b8ff, #b6e1ff);
  background-size: 300% 300%;
  animation: gradientAnimation 10s infinite;

  /* Other button styles for appearance and interaction */
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  white-space: nowrap;
  transition: transform 0.3s;
  margin: 5%;
  padding: 10px; /* Add padding to the button */
  width: auto; /* Let the content determine the width */
  height: auto; /* Let the content determine the height */
  user-select: none;
  /* Define a custom animation keyframes */

  /* Apply the animation on the button */
  animation: dropInAnimation 0.5s ease-out; /* Adjust duration and timing function as needed */

  line-height: 1.2;
  max-height: 20vh; /* Adjust the height of each item as needed */
}

.perm-btn {
  background: linear-gradient(45deg, #82b8ff, #b6e1ff);
  background-size: 300% 300%;
  animation: gradientAnimation 10s infinite;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  white-space: nowrap;
  transition: transform 0.3s;
  margin: 5%;
  padding: 5x;
  width: 100%; 
  height: 5%;
  user-select: none;
  animation: dropInAnimation 0.5s ease-out;
  line-height: 1.2;
  max-height: 20vh;
}


#checkboxContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the containers horizontally */
  justify-content: center; /* Center the containers vertically */
  width: 30vh;
  /* background-color: #f0f0f0; */
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  animation: dropInAnimation 0.5s ease-out; /* Adjust duration and timing function as needed */
}

/* Style for checkboxes */
.checkbox-label {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: #82b8ff;
  cursor: pointer;
  width: 100%;
}

.checkbox-label input[type="checkbox"] {
  margin-right: 5px;
}

.checkbox-label {
  font-size: 16px;
  font-weight: 500;
  color: white;
}

@keyframes dropInAnimation {
  0% {
    transform: translateY(-10px); /* Move the button up by 10px */
    opacity: 0; /* Start with opacity 0 */
  }
  100% {
    transform: translateY(
      0
    ); /* Move the button back to its original position */
    opacity: 1; /* End with full opacity */
  }
}

/* Slowly rotate the button on hover */
.square-button:hover {
  transform: rotate(3deg);
}

/* Gradient animation keyframes */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.nav-img {
  height: auto;
  width: 5vw;
}

